---

/**
 * Dev note: This layout is used to add all of the basic layout elements 
 * shared by all pages of the project
 * 
 * Since all pages use the same font, this is where it is injected
 * 
 * Note that the navbar is not injected due to custom navbar for the landing page.
 * 
 * If some behaviour from the BasicLayout is does not work for certain pages, please 
 * create a new layout file where you add the font and other elements shared by your
 * layout and this one.
 */

//  FIXME: The fontsource package loads the font file after a small but visible delay.
// Importing the project's font. 
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import '../styles/global.css'
import Footer from "../components/astro/Footer.astro"

const {SEOObject} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={SEOObject?.cardTitle} />
    <meta property="og:description" content={SEOObject?.cardDescription}/>
    <meta property="og:image" content={SEOObject?.cardURL} />
    <meta property="og:url" content="https://filipchik-studio-website-redesign.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Pierce Interiors" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={SEOObject?.cardTitle} />
    <meta name="twitter:description" content={SEOObject?.cardDescription} />
    <meta name="twitter:image" content={SEOObject?.cardURL} />
    <meta name="twitter:site" content="@Pierce_Interiors" />
    
    <title>{SEOObject?.pageTitle}</title>
    <meta name="description" content={SEOObject?.pageDescription}>

  </head>
  <body>
      <slot /> <!-- your content is injected here -->
      <Footer/>
  </body>

  <style>
        body {
            font-family: 'Montserrat Variable', sans-serif;
        }
    </style>
</html>