---

//  FIXME: The fontsource package loads the font file after a small but visible delay.
// Importing the project's font. 
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import '../styles/global.css'
import Footer from "../components/astro/Footer.astro"

import "../styles/next-project.scss"
import "../styles/image-gallery.css"
import ProperImage from '../components/astro/ProperImage.astro';

const {title, projectData} = Astro.props;
---

<html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
    </head>
  <body>
    <!-- Cursor -->
    <div class="fixed h-[300px] w-[200px]" id="image-gallery-cursor">
      <div id="image-gallery" data-dest-folder={projectData.nextProject.imagesGalleryDir}/>
    </div>

    <main class="gap-y-[12rem] flex flex-col">
    <!-- TODO: Finish up later -->
    <section class="w-full h-screen px-5">
        <div class="w-full grid grid-cols-6 gap-x-5">
            <h1 class="header col-span-3 ">{projectData.hero.title}</h1>
            <p class="col-span-3 body">{projectData.hero.description}</p>
        </div>
    </section>

    <section class="w-full h-fit grid grid-cols-6 gap-x-5 px-5">
        <div class="col-span-3 flex flex-col justify-center space-y-7">
            <div class="space-y-3">
                <p class="body">{projectData.stats.small[0]?.title}</p>
                <p class="small-body">{projectData.stats.small[0]?.value}</p>
            </div>
            <div class="space-y-3">
                <p class="body">{projectData.stats.small[1]?.title}</p>
                <p class="small-body">{projectData.stats.small[1]?.value}</p>
            </div>
            <div class="space-y-3">
                <p class="body">{projectData.stats.small[2]?.title}</p>
                <p class="small-body">{projectData.stats.small[2]?.value}</p>
            </div>
            <div class="space-y-3">
                <p class="body">{projectData.stats.small[3]?.title}</p>
                <p class="small-body">{projectData.stats.small[3]?.value}</p>
            </div>
        </div>
        <div class="col-span-3 body space-y-8 body">
            <p>
                {projectData.stats.large[0]}
            </p>
            <p>
                {projectData.stats.large[1]}
            </p>
        </div>
    </section>

    <!-- TODO: Add the parallax effect -->
    <section class="px-5 w-full grid grid-cols-6 gap-x-5">
        <!-- SAmple Use -->
        <!-- <div class="col-span-3 aspect-square ">
            <ProperImage imagePath="/src/assets/projects/skyline-serenity/..." altText="view from the shower room" />
        </div> -->

        <img class="col-span-3 w-full aspect-square" src={projectData.twoImages[0].url}>
        <img class="col-span-3 w-full aspect-square" src={projectData.twoImages[1].url}>
    </section>

    <section class="w-full px-5 grid grid-cols-6 gap-x-5"> 
        <p class="large-body col-start-2 col-span-4">
            {projectData.strength1.text}    
        </p>
    </section>

    <section class="px-5 w-full">
        <img class="w-full h-[80vh] object-fill" src={projectData.largeImage1.url}>
    </section>

    <section class="w-full px-5 grid grid-cols-6 gap-x-5"> 
        <p class="large-body col-start-2 col-span-4">
            {projectData.strength2.text}    
        </p>
    </section>

    <section class="px-5 w-full">
        <img class="w-full h-[80vh] object-fill" src={projectData.largeImage2.url}>
    </section>

    <!-- TODO: Add the section with the draggable gallery -->

    <section class="w-full px-5 flex flex-col gap-y-24">
        <div class="grid grid-cols-6 gap-x-5">
            <img class="col-span-3 w-full aspect-square" src={projectData.details[0].image.url}>
            <div class="col-span-3 flex flex-col justify-end space-y-7 body">
                <p>
                    {projectData.details[0].texts.text1}
                </p>
                <p>
                    {projectData.details[0].texts.text2}
                </p>
            </div>
        </div>

        <div class="grid grid-cols-6 gap-x-5">
            <div class="col-span-3 flex flex-col justify-start space-y-7 body">
                <p>
                    {projectData.details[1].texts.text1}
                </p>
                <p>
                    {projectData.details[1].texts.text2}
                </p>
            </div>
            <img class="col-span-3 w-full aspect-square" src={projectData.details[1].image.url}>
        </div>
    </section>

    <div>
    <section class="w-full">
        <img class="w-full h-[80vh] object-fill" src={projectData.fullscreenImage.url}>
    </section>
    <section class="w-full h-[60vh] bg-company flex flex-col justify-center items-center" id="next-project-section">
        <div class="w-[70%] h-[40%] flex flex-col justify-center items-center">
            <p class="text-background text-[8.5rem] w-full text-center font-outline" data-text="NEXT PROJECT">NEXT PROJECT</p>
            <p class="body text-background">{projectData.nextProject.nextProjectName}</p>
            <a class="w-[70%] h-[40%] absolute grid grid-cols-5 next-page-container gallery-cursor-area" href=`/projects/${projectData.nextProject.nextSlug}`>
                <span class="hovarable-zone"></span>
                <span class="hovarable-zone"></span>
                <span class="hovarable-zone"></span>
                <span class="hovarable-zone"></span>
                <span class="hovarable-zone"></span>
            </a>
        </div>
    </section>
    </div>
  </main>
      <Footer/>
</body>

<style>
    body {
        font-family: 'Montserrat Variable', sans-serif;
    }
</style>

<script>
    import "../scripts/next-project-animation.js"
    import "../scripts/image-slider.js"
</script>

</html>